.app-container {
  min-height: 100vh;
  max-width: 1110px;
  margin: auto;
  display: flex;
}
.events-container {
  padding: 0px 0px;

  background-color: #323f4b;
  height: 100vh;
  /* overflow-y: auto; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-width-container {
  width: 90%;
  margin: auto;
  overflow-y: auto;
}
.events-heading {
  color: #ffffff;
}
.events-list-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screoll-events {
  overflow-y: auto;
}
